.title {
  font-size: 50px;

  color: white;
  font-weight: lighter;
  font-weight: 500;
}

.top {
  margin-top: 50px;
}

.sub {
  color: white;
  font-weight: 200;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .landingicon {
    max-width: 300px;
  }
  .timer {
    font-size: 20em;
  }
}

.slogan {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.timer {
  font-size: 70px;
}

.play-btn {
  max-width: 35px;
}

.min-input {
  text-align: center;
  max-width: 60px;
}

.b1 {
  color: white;
  border: none;
  min-height: 50px;
  border-radius: 10px;
  background-color: #177e89;
}

.b-new-player {
  color: white;
  border: none;
  min-height: 25px;
  border-radius: 5px;
  background-color: #6c4398;
}

.text-button {
  background-color: transparent;
  border: none;
  color: #da3a34;
}
.huge {
  font-size: 70px;
  /* color: #ffc857; */
}

.timer-div {
  border: solid #177e89;
  border-width: 8px;
  border-radius: 7px;
}

.paused {
  visibility: visible;
  border-color: #ff5757;
}

.paused-color {
  background-color: #ff5757;
}

.pause-strip {
  background-color: #ff5757;
}

.hidden {
  visibility: hidden;
}

.b2 {
  color: white;
  border: none;
  min-height: 50px;
  border-radius: 10px;
  background-color: #084c61;
}
.b3 {
  color: white;
  border: none;
  min-height: 50px;
  border-radius: 10px;
  background-color: #066981;
}

.pause {
  background-color: #ffc857;
}

.end {
  background-color: #da3a34;
}
